@model PetSocietyWeb.Models.Generated.Article

@{
    ViewData["Title"] = "Details";
}

<h1>詳細</h1>

<div>
    @* <h4>Article</h4> *@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tag.TagName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisLike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisLike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
    </dl>
</div>
<br>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
